<main class="error-not-found-page">
  <div class="error-not-found-page__content">
    <div class="error-not-found-page__title-wrapper">
      <p class="error-not-found-page__title-number">500</p>
      {{> PageTitle title="Ошибка сервера" className="sign-in-page__title"}}
    </div>

    {{#> LinkAsButton href="/chat" variant="white" page="chat"}}Назад к чатам{{/LinkAsButton}}
  </div>
</main>
