<button
  type="{{ type }}"
  class="button
  {{#if variant}}button_variant-{{ variant }}{{/if}}
  {{#if variant}}button_size-{{ size }}{{/if}}
  {{#if className}}{{ className }}{{/if}}"
>
  {{> @partial-block}}
</button>
