.main {
  display: flex;
  min-height: var(--page-height);
}

.contentPositioner {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 510px;
}
