<main class="sign-up-page">
  <div class="sign-up-page__content">
    {{> PageTitle title="Регистрация" className="sign-in-page__title"}}

    <form class="sign-up-page__form" id="{{#if formId}}{{ formId }}{{/if}}">
      {{>Input type='email' labelText='Почта' name='email'}}
      {{>Input type='text' labelText='Логин' name='login'}}
      {{>Input type='text' labelText='Имя' name='first_name'}}
      {{>Input type='text' labelText='Фамилия' name='second_name'}}
      {{>Input type='tel' labelText='Телефон' name='phone'}}
      {{>Input type='password' labelText='Пароль' name='password'}}
      {{>Input type='password' labelText='Пароль (ещё раз)' name='password-repeat'}}
    </form>

    <div class="sign-up-page__buttons">
      {{#> LinkAsButton href="/signup" variant="blue" page="signup"}}Зарегистрироваться{{/LinkAsButton}}
      {{#> LinkAsButton href="/signin" variant="white" page="signin"}}Войти{{/LinkAsButton}}
    </div>
  </div>
</main>
