<div>
  {{> ProfileInput labelText="Старый пароль" name="oldPassword" type="password"  value="foobar" }}
  {{> ProfileInput labelText="Новый пароль" name="newPassword" type="password"  value="foobarbaz" }}
  {{> ProfileInput labelText="Повторите новый пароль" name="newPasswordConfirm" type="password"  value="foobarbaz" }}
</div>

{{#> LinkAsButton  variant="blue" size="medium" page="profile"}}
Сохранить
{{/LinkAsButton}}
