<main class="sign-in-page">
  <div class="sign-in-page__content">
    {{> PageTitle title="Вход" className="sign-in-page__title"}}

    <form class="sign-in-page__form" id="{{#if formId}}{{ formId }}{{/if}}">
      {{>Input type='text' labelText='Логин' name='login'}}
      {{>Input type='password' labelText='Пароль' name='password'}}
    </form>

    <div class="sign-in-page__buttons">
      {{#> LinkAsButton href="/signin" variant="blue" page="signin"}}Войти{{/LinkAsButton}}
      {{#> LinkAsButton href="/signup" variant="white" page="signup"}}Зарегистрироваться{{/LinkAsButton}}
    </div>
  </div>
</main>
