.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 340px;
  height: 62%;
  padding: 50px 30px;
  box-shadow: var(--box-shadow-around);
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
