<main class="profile-page">
  {{> PageTitle title="Профиль пользователя" className="visually-hidden"}}
  {{> ProfilePrevious}}

  <div class="profile-page__content-positioner">
    <div class="profile-page__content">
      {{> ProfileAvatar}}

      {{#if isMainSubPage}}{{> ProfileMainSubPage}}{{/if}}

      {{#if isEditInfoSubPage}}{{> ProfileEditInfoSubPage}}{{/if}}

      {{#if isEditPasswordSubPage}}{{> ProfileEditPasswordSubPage}}{{/if}}
    </div>
  </div>
</main>
