<div class="profile-avatar">
  <div class="profile-avatar__image-wrapper">
    <img
      class="profile-avatar__image"
      src="/media/profile-avatar.svg"
      alt="Аватар пользователя"
      width="130"
      height="130"
    />

    {{#> Button className="profile-avatar__change-button"}}Поменять аватар{{/Button}}
  </div>

  <h2 class="profile-avatar__name">Иван</h2>
</div>
