{{>ProfileFormInfo readonly="true" }}
<div>
  {{#> LinkAsButton className="profile-page__button" variant="white" size="medium" page="profile/edit-info"}}
  Изменить данные
  {{/LinkAsButton}}

  {{#> LinkAsButton className="profile-page__button" variant="white" size="medium" page="profile/edit-password"}}
  Изменить пароль
  {{/LinkAsButton}}

  {{#> LinkAsButton className="profile-page__button" variant="white" size="medium" page="signin"}}
  Выйти
  {{/LinkAsButton}}
</div>
