.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 50%;
  padding: 10px;
  border: 1px solid var(--color-background-secondary);
  border-radius: 12px;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.message_owner {
  &-currentUser {
    align-self: flex-end;
    border-color: var(--color-gray-3);
    background-color: var(--color-gray-3);
  }

  &-externalUser {
    align-self: flex-start;
    background-color: var(--color-background-secondary);
  }
}

.timeWrapper {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-text-secondary);
}

.timeWrapper_isRead {
  color: var(--color-blue-1);
}

.time {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
