.profile-input__wrapper {
  padding: 8px 0;
  border-bottom: 1px solid var(--color-gray-2);
  transition: border-color var(--transition-default);

  &:hover {
    border-color: var(--color-blue-1-opacity-60);
  }

  &:focus-within {
    border-color: var(--color-blue-1);
  }

  &_no-padding {
    padding: 0;
  }
}

.profile-input__label {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-input__label-text {
  color: var(--color-text-primary);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  transition: color var(--transition-default);

  .profile-input__wrapper:focus-within & {
    color: var(--color-blue-1);
  }
}

.profile-input__input {
  flex-grow: 1;
  border: none;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  text-align: right;
  transition: color var(--transition-default);

  .profile-input__wrapper:focus-within & {
    color: var(--color-blue-1);
  }
}
