.notificationsList {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  max-height: 100vh;
  padding: 8px;
  font-size: var(--font-size-small);
  line-height: var(--line-height-medium);
}

.notificationItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-gray-3-opacity-80);
}

.notificationItem__type {
  &-error {
    background-color: var(--color-red-1-opacity-80);
  }

  &-success {
    background-color: var(--color-green-1-opacity-80);
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}
