<header>
  <nav class="navigation">
    <a class="navigation__link" href="/signin" page="signin">Вход</a>
    <a class="navigation__link" href="/signup" page="signup">Регистрация</a>
    <a class="navigation__link" href="/profile" page="profile">Профиль</a>
    <a class="navigation__link navigation__link_disabled" href="/chat" page="chat">Чат</a>
    <a class="navigation__link" href="/error-not-found" page="error-not-found">404</a>
    <a class="navigation__link" href="/error-server" page="error-server">500</a>
  </nav>
</header>
