@import "./modern-normalize";
@import "./variables";
@import "../fonts/inter/stylesheet";

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-primary);
  font-weight: 500;
  font-family: var(--font-family-primary);
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.text-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-overlay);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-around);
}

.modalTitle {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.modalButtonClose {
  align-self: flex-end;
}
