.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 340px;
  padding: 50px 30px 40px;
  box-shadow: var(--box-shadow-around);
}

.title {
  margin-bottom: 32px;
  text-align: center;
}
